@import "../../sassFramework/framework";

.charity{
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 50px;
    @include borderRad(15px);
    .img-charity{
        width: 100%;
        height: 205px;
    }
    .charity-name{
        height: 72px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $headCol;
        font-weight: 600;
    }
    .donate{
        @extend %trans;
        display: block;
        width: 80%;
        padding: 10px 15px;
        margin: auto;
        font-size: 22px;
        font-weight: bold;
        background-color: $btncol;
        color: #fff !important;
        text-decoration: none !important;
        @include borderRad(10px);
        &:hover{
            background-color: #c3046d;
        }
    }
}